$card-width: 350px;
$card-height:450px;

.itemFilter{
     
    position: sticky;
    top: 0;
background-color: #FFFFFF;
z-index: 50;
 
   
     td{
         font-weight: 800;
          
     }
}
.store_container{
 
     max-width: 1150px;
     @media only screen and (max-width: 1276px) {
        max-width: 60.9%;
  }
   
  
}

.itemCard_container{
   
    height: auto;
    .ItemCard_innerContainer{
        height: auto;
    }
}

.itemCard_inner_container{

    // max-width: $card-width;
    max-height: $card-height;
   margin-top: 18px !important;
}

.itemCard_card{
 margin: 0px 5px;
  height: $card-height;
   width: $card-width;
   border-radius: 8px;
    img{
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
}

.MuiCollapse-wrapper{
    padding: 6px 0px !important;
}


#cardCvc{

    color: red;
}

a{
    text-decoration: none;
    color: rgba(15, 14, 14, 0.884) !important;
}