.creditCard_outerContainer{
     height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.creditCard_flipCard{
   background-color: transparent;
  position: absolute;
  width: 100%;  
  height : 90%;

  perspective: 1000px;
  border-radius:18px;
  z-index:3;
  @media only screen and (max-width: 425px) {
  
        height : 80% !important;
        width: 90%;  
  }
  @media only screen and (max-width: 375px) {
  
    height : 70% !important;
    width: 90%;  
}
@media only screen and (max-width: 320px) {
  
    height : 60% !important;
    width: 90%;  
}
}

.creditCard_container{
    background: linear-gradient(0.25turn, #01BFA6  , #521d46);
    position:relative;
   height: 100%;
    width: 100%;           /* whatever width you like */
    border-radius: 18px;
 
}

.creditCard_earth{
    position:absolute;
    height: 100%;
    width: 100%; 
    z-index: 3;
  display: flex;
}

.creditCard_chip{
    position:absolute;
    left:13%;
    top:25%;
    height: 20%;
    width: 20%;
   z-index:4;
}

.creditCard_visa{
    position:absolute;
    right:5%;
    top:3%;
    height: 20%;
    width: 20%;
    z-index: 4;
}

.creditCard_number{
    z-index: 5;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 270%;
    padding-top: 10%;
    color: white;
    @media only screen and (max-width: 425px) {
        font-size: 200%;
  }
}
.creditCard_cardHolder{
    z-index: 5;
    position:absolute;
   
   left: 5%;
   bottom: 5%;
    font-size: 1.25rem;
    padding-top: 10%;
    color: white;
    font-weight: 600;
}
.creditCard_expDate{
    z-index: 5;
    position:absolute;
   
   right: 5%;
   bottom: 5%;
    font-size: 1.1rem;
    padding-top: 10%;
    color: white;
}