$card-width: 350px;
$card-height:350px;
.App{
    height: auto;
    width: auto;
 
 
}
.ItemCard_innerContainer{
    height: 720px;
}
.store_container{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
     width: 810px;

}

.itemCard_container{

}

.itemCard_inner_container{
    max-width: $card-width;
 
    max-height: $card-height;
   
}

.itemCard_card{
  
    max-height: $card-height;
     max-width: $card-width;
   
    img{
         max-width: $card-width;
        max-height: 250px;
    }
}

*{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
 
}

